.row
  .large-4.columns
    %h1 All Pages
    %ul#pages
      - @pages.each do |page|
        = content_tag_for :li, page do
          = link_to page, edit_admin_page_path(page)
          = link_to 'x', admin_page_path(page), :method => :delete, :data => { :confirm => "Are you sure you want to delete '#{page.name}'?" }, :class => 'delete'

    / = link_to 'New Page', new_admin_page_path
