.holder
  .left
  .polaroid
    .side
    .image
    .side
    .text
      %p Viral
      %p Image
  .right
  .thumbs
    - @videos.each_with_index do |video, index|
      .thumb{data: { number: index }}
        = index
