.holder
  .left
  .polaroid
    .side
    .image
    .side
    .text
      %p Viral
      %p Image
  .right

  %ul#video-thumbs
    - @videos.each_with_index do |video, index|
      %li
        = link_to video do
          = image_tag video.thumbnail
