.holder
  .left
  .polaroid
    .box
    .side
    .image
    .side
    .text
      %p
        %span.kind Kind:
        %span.name Name
      %p
        %span.client Client:
        %span.client_name Client
  .right

  %ul#video-thumbs
    - @videos.each_with_index do |video, index|
      %li.thumb
        = link_to video, data: { kind: video.kind, name: video.name, client: video.client } do
          - if video.processed?
            = image_tag video.thumbnail
          - else
            Processing
