.holder
  .left
  .polaroid
    .box
    .side
    .image
    .side
    .text
      %p Viral
      %p Image
  .right

  %ul#video-thumbs
    - 10.times do
      - @videos.each_with_index do |video, index|
        %li
          = link_to video, data: { type: "Viral", title: "Torres", client: "John" } do
            = image_tag video.thumbnail
