- if @video.attachment_url.present? && @video.zencoder_output_id.present?# && @video.processed?
  %video#video.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :height => "100%", :poster => @video.poster, :preload => "auto", :width => "100%"}
    %source{:src => "#{@video.attachment.url}", :type => "video/mp4; codecs='avc1.42E01E, mp4a.40.2'"}
- else
  %p Please be patient while we process this video
