%video#my_video_1.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :height => "264", :poster => "my_video_poster.png", :preload => "auto", :width => "640"}
  %source{:src => "#{@video.attachment.url}", :type => "video/mp4; codecs='avc1.42E01E, mp4a.40.2'"}
