@import "normalize";
@import "foundation_and_overrides";
@import "redactor-rails";

.actions {
  margin: 1em 0;
}

table img {
  max-width: 100px;
}

label {
  font-weight: bold;
}

.field_with_errors {
  label {
    color: red;
  }
  input {
    border: 1px solid red;
  }
}

.redactor_box {
  // width: 345px;

  .redactor_editor {
    max-height: 500px;
    // img {
    //   max-width: 300px;
    // }
  }
}

body.admin.c_pages.a_index {
  ul {
    list-style: none;
  }
}