#video-kind, #video-clientlabel {
  color: #AAA;
  font-weight: 400;
}

@mixin bars($width, $height) {
  #popup {
    // height: auto;
    // max-height: $height * 1.4;
  }
  #polaroid {
    height: $height + 62;

    .side {
      width: 5px;
      display: block;
      background: white;
      height: $height + 4;
      float: left;
      &.right {
        float: right;
      }
    }
  }
  #box {
    width: $width;
    height: $height - 16;
  }

  .bar {
    left: -$width/2 - 4;
    &#right {
      right: -$width/2 - 4;
    }
  }

  #video-thumbs {
    li.thumb {
      width: $width;
        img {
          width: $width;
          height: $height;
        }
    }
  }

  #main {
  height: $height + 70;
}
  // #video-thumbs {
  //   li.thumb img {
  //     width: $width - 63;
  //     height: $width - 63;
  //   }
  // }

  #holder {
    // height: $width - 15;
    #polaroid {
      width: $width + 10;
      // width: 252px;
    }
    #box {
      width: $width;
      height: $height;
    }
  }
}

@include bars(315px,250px);

#holder {
  top: 210px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#video-thumbs {


  font-size: 0;
  // font-size: 0.1rem;
  // letter-spacing: -1em;
  // word-spacing: -1em;


  position: absolute;

  top: 8px;
  border: 1px solid black !important;
  padding: 1px !important;
  white-space:nowrap;
  // font-size: 0;
  clear: both;

  &, li, a, img {
    margin: 0;
    padding: 0;
    padding: 0;
    border: none;
  }

  li.thumb {
    display: inline-block;
    overflow: hidden;
  }
}

#container {
  overflow: hidden;
  position: relative;
  top:50%;
  height: 650px;
  margin-top: -330px;
}

#outer {
  width: 100%;
  overflow: hidden;
  height: 720px;
}

.bar {
  body.rgba & {
    background: rgba(255,255,255,0.8);
  }
  background: image-url('barbg.png');
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 5;
  &#right {
    left: auto;
  }
}

#popup {
  margin: 0 auto;
}

#polaroid {
  margin: 6px auto;
}

#popup, #polaroid {

  border: 1px solid black;
  // width: 325px;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
  position: relative;
}

#popup {

  top: 8px;
  overflow: hidden;
  z-index: 100;
  background: #FFF;
  padding: 4px;
  display: none;
  margin: 0 auto;
  // height: 330px;
  width: 326px;
  // max-width: 780px;

}

#polaroid {
  cursor: pointer;
  z-index: 8;
  #box {
    border: 1px solid black;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  #text {
    clear: both;
    display: block;
    padding: 10px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    border-top: 4px solid #FFF;
    p {
      margin: 0;
    }
  }


  #top {
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }

  #image {
    display: none;
    float: left;
    width: 315px;
    height: 250px;
  }
}



.page {
  padding: 18px;
}

#video {
  overflow: hidden;
}

// #video {
//   display: block;
//   height: 100%;
// }

.hide {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  // background: rgba(#FFF,0.1);
  width: 100%;
  height: 100%;
  z-index: 40;
}


#close {
  // background: #FFF !important;
  margin: 0 auto;
  position: relative;
  z-index: 200;
  display: none;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#pages > div {
  display: block;
  padding: 8px;
  height: 360px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}

#pages {

}

@media (max-width: 730px) {

  // #pages > div {
  //   height: auto;
  //   overflow: hidden;
  // }

  @include bars(270px,214px);

  #container {
    overflow: auto;
    position: static;
    // height: auto;
    margin-top: 0;
  }
  #popup {
    overflow: hidden;
    height: auto;
    max-width: 90% !important;
    // max-height: 360px !important;
    // #video {
    //   max-height: 300px !important;
    // }
  }


}

  .video-js .vjs-tech {
    position: relative;
    display: block !important;
  }

.vjs-big-play-button {
  display: none !important;
}