#container {
  // overflow: hidden;
  // position: relative;
  // // top:50%;
  // height: 680px;
  // // margin-top: -330px;
}
// #outer {
//   width: 100%;
//   overflow: hidden;
//   height: 720px;
// }


#videos {
  overflow: auto;
  display: block;
  padding-bottom: 40px;
  width: 100%;
}
#scroller {
  // width: 2500px;
  float: left;
  // position: absolute;
  display: block;
  border: 1px solid black;
  padding: 1px;
  // padding: 0 400px;
}

#video-thumbs {

  html.no-touch & {
    border: 1px solid black;
    padding: 1px;
  }

  html.touch & {
    position: static;
    top: 8px
  }

  font-size: 0;
  position: absolute;
  top: 2px;
  white-space:nowrap;
  clear: both;

  &, li, a, img {
    margin: 0;
    padding: 0;
    padding: 0;
    border: none;
  }

  li.thumb {
    display: inline-block;
    overflow: hidden;
  }

  .popup {
    display: none;
    background: black;
  }
}

#polaroid {
  cursor: pointer;
  z-index: 4;

  #box {
    border: 1px solid black;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  #text {
    clear: both;
    display: block;
    padding: 10px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    border-top: 4px solid #FFF;
    p {
      margin: 0;
    }
  }

  #top {
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  #image {
    display: none;
    float: left;
  }
}


// .overthrow {
//     overflow: auto;
//     // -webkit-overflow-scrolling: touch;
// }

// .overthrow {
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
// }

#wrapper {
  position: absolute;
  top: 8px;
  overflow:hidden;
  width:100%;
  height: 300px;
  margin: 0 auto;
  text-align:center
}

#videos {
  margin: 0 auto;
  overflow:visible !important;
}

//------------- SORT OUT



#video-kind, #video-clientlabel {
  color: #AAA;
  font-weight: 400;
}

@mixin bars($width, $height) {

  #videos {
  width: $width;
}

  #popup {
    // height: auto;
    // max-height: $height * 1.4;
  }
  #polaroid, .bar {
    html.touch & {
      pointer-events: none;
    }
  }
  #polaroid {
    height: $height + 62;


#image {
    width: $width;
    height: $height;
  }
    .side {
      width: 5px;
      display: block;
      background: white;
      height: $height + 4;
      float: left;
      &.right {
        float: right;
      }
    }
  }
  #box {
    width: $width;
    height: $height - 16;
  }


  .bar {
    left: -$width/2 - 4;
    &#right {
      right: -$width/2 - 4;
    }
  }

  #video-thumbs {
    li.thumb {
      width: $width;
        img {
          width: $width;
          height: $height;
        }
    }
  }

  #main {
  height: $height + 70;
  }
  // #video-thumbs {
  //   li.thumb img {
  //     width: $width - 63;
  //     height: $width - 63;
  //   }
  // }

  #holder {
    // height: $width - 15;
    #polaroid {
      width: $width + 10;
      // width: 252px;
    }
    #box {
      width: $width;
      height: $height;
    }
  }
}

@include bars(315px,250px);

#holder {
  // top: 210px;
  top: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}






.bar {
  html.rgba & {
    background: rgba(255,255,255,0.8);
  }
  background: image-url('barbg.png');
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 3;
  &#right {
    left: auto;
  }
}

#popup {
  margin: 0 auto;
  height: 312px;
}

#polaroid {
  margin: 6px auto;
}

#popup, #polaroid {

  border: 1px solid black;
  // width: 325px;
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
  position: relative;
}

#popup {

  top: 0;//8px;
  overflow: hidden;
  z-index: 100;
  background: #FFF;
  padding: 4px;
  display: none;
  margin: 0 auto;
  // height: 330px;
  width: 326px;
  // max-width: 780px;
  text-align: left;

}




.page {
  padding: 18px;
}

#video {
  overflow: hidden;
}

// #video {
//   display: block;
//   height: 100%;
// }

.hide {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  // background: rgba(#FFF,0);
  width: 100%;
  height: 100%;
  z-index: 40;
}


#close {
  html.touch & {
    pointer-events: none;
  }
  // background: white !important;
  margin: 0 auto;
  position: relative;
  z-index: 180;
  display: none;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#pages {
  height: 100%;
  // width: 98%;
  // position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#pages > div {
  display: block;
  padding: 8px;
  // height: 360px;

  word-wrap: break-word;
}


// @media (min-width: 480px) {
//   #pages > div {
//     -webkit-overflow-scrolling: touch;
//   }
// }


// #popup {
//   max-height: 360px;
// }

@media (max-width: 730px) {

  // #pages > div {
  //   height: auto;
  //   overflow: hidden;
  // }

  @include bars(220px,175px);

  #container {
    display: block !important;
    // overflow: auto;
    // position: static;
    // // height: auto;
    // margin-top: 0;
    // height: 600px;
  }
  #popup {
    overflow: hidden;
    height: auto !important;
    max-width: 310px;
    // max-width: 90% !important;
    max-height: none;
    min-height: 250px !important;
    // max-height: 360px !important;
    // #video {
    //   max-height: 300px !important;
    // }
  }

  #video-modal {
// //     // height: 310px !important;
  }


}

video {
  background: black;
}

  .video-js .vjs-tech {
    position: relative;
    display: block !important;
  }

.vjs-big-play-button {
  display: none !important;
}

.mejs-container {
  background: black;
}

li .popup {
  display: none !important;
}

li {
  position: relative;
}



#video-modal {
  height: 100%;
  overflow: hidden;
}

#video-modal .popup {
  display: block;
  height: 100%;
}

// .popup {
//   overflow: hidden;
//   width: 40px !important;
//   position: relative;
//   top: 0;
//   display: none;
// }

// #video-modal .mejs-container {
//   width: 100% !important;
//   height: 100% !important;
// }

// .mejs-controls {
//   width: 100% !important;
// }

#outer-wrapper {
  height: 90%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.inner {
  position: relative;
}


// /* The ghost, nudged to maintain perfect centering */
// body:before {
//   content: '';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   margin-right: -0.25em; /* Adjusts for spacing */
// }

/* The element to be centered, can
   also be of any width and height */
#container {
  width: 100%;
  position: relative;
  // text-align: center;
  // display: inline-block;
  // vertical-align: middle;
  // width: 100%;
  display: table-cell;
  // float: left;
   // text-align: center;
   vertical-align: middle;
}