.row
  .large-12.columns
    %h1 Manage Videos

.row
  .large-8.columns
    %h4 All Videos

    %ul#videos{data: { url: sort_admin_videos_url }}
      = render @videos

  .large-4.columns
    %h4 Upload New Video(s)
    = form_for [:admin,Video.new], :multipart => true do |f|
      = file_field_tag(:attachment, multiple: true, name: "video[attachment]")
      / = f.submit