#manage-videos
  .row
    .large-12.columns
      %h1 Manage Videos
      %p.hint
        \- You can drag videos to reorder them in the 'Published' column, or to move them to the 'Inactive' column.
        %br/
        %br/
        \- Clicking a video's title will allow you to edit its details, or you can delete the video by clicking the 'x' on the right.
        %br/
        %br/
        \- The yellow slot is the first position that will be active by default on the homepage.

  .row
    .large-8.columns
      %h4 Published Videos
      / %p.hint
      /   This is the archive of every video uploaded. In order for videos to be added to the frontpage, change the settings on the
      /   = link_to 'Edit Order of Videos', edit_order_admin_videos_path
      /   page
      #published.video-list
        %ul#published-videos.list{data: { url: sort_admin_videos_url }}
          = render Video.published

    .large-4.columns
      %h4 Inactive Videos
      #unpublished.video-list
        %ul#unpublished-videos.list{data: { url: sort_admin_videos_url }}
          = render Video.unpublished
